version: '3'

services:
  app:
    container_name: adonisjs-server_app
    image: apquinit/adonisjs:latest
    ports:
      - '3333:3333'
    volumes:
      - $PWD:/var/www
    depends_on:
      - database

  database:
    container_name: adonisjs-server_database
    image: postgres:12.0
    ports:
      - '5432:5432'
    volumes:
      - $PWD/database/pg:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: adonisjs
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: adonisjs
